<title>Login</title>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form id="registerForm" class="login100-form validate-form" action="/auth/login" method="post">
                <span class="login100-form-title p-b-26">
                    Welcome
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font"></i>
                </span>

                <div id="errName" class="wrap-input100 validate-input" data-validate="Vui lòng nhập email của bạn.">
                    <input class="input100" type="text" name="name" id="name">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div id="errPass" class="wrap-input100 validate-input"
                    data-validate="Vui lòng nhập mật khẩu của bạn có ít nhất 6 ký tự.">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100" type="password" name="pass" id="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit" onclick="postData()">
                            Login
                        </button>
                    </div>
                </div>
                <div class="text-center p-t-50">

                    <a class="btn btn-lg btn-block border d-flex justify-content-center" href="/auth/github">
                        <div class="mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40"
                                viewBox="0 0 64 64">
                                <path
                                    d="M32 6C17.641 6 6 17.641 6 32c0 12.277 8.512 22.56 19.955 25.286-.592-.141-1.179-.299-1.755-.479V50.85c0 0-.975.325-2.275.325-3.637 0-5.148-3.245-5.525-4.875-.229-.993-.827-1.934-1.469-2.509-.767-.684-1.126-.686-1.131-.92-.01-.491.658-.471.975-.471 1.625 0 2.857 1.729 3.429 2.623 1.417 2.207 2.938 2.577 3.721 2.577.975 0 1.817-.146 2.397-.426.268-1.888 1.108-3.57 2.478-4.774-6.097-1.219-10.4-4.716-10.4-10.4 0-2.928 1.175-5.619 3.133-7.792C19.333 23.641 19 22.494 19 20.625c0-1.235.086-2.751.65-4.225 0 0 3.708.026 7.205 3.338C28.469 19.268 30.196 19 32 19s3.531.268 5.145.738c3.497-3.312 7.205-3.338 7.205-3.338.567 1.474.65 2.99.65 4.225 0 2.015-.268 3.19-.432 3.697C46.466 26.475 47.6 29.124 47.6 32c0 5.684-4.303 9.181-10.4 10.4 1.628 1.43 2.6 3.513 2.6 5.85v8.557c-.576.181-1.162.338-1.755.479C49.488 54.56 58 44.277 58 32 58 17.641 46.359 6 32 6zM33.813 57.93C33.214 57.972 32.61 58 32 58 32.61 58 33.213 57.971 33.813 57.93zM37.786 57.346c-1.164.265-2.357.451-3.575.554C35.429 57.797 36.622 57.61 37.786 57.346zM32 58c-.61 0-1.214-.028-1.813-.07C30.787 57.971 31.39 58 32 58zM29.788 57.9c-1.217-.103-2.411-.289-3.574-.554C27.378 57.61 28.571 57.797 29.788 57.9z">
                                </path>
                            </svg>
                        </div>

                        <p class="align-self-center">Sign in with github</p>
                    </a>

                </div>

                <div class="text-center p-t-115">
                    <p class="text-danger" id="notification"></p>
                    <a class="txt2" href="/auth/register">
                        Sign up.
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    function postData() {
        const form = $("#registerForm");
        const name = $("#name");
        const pass = $("#pass");

        const notification = $("#notification");

        const errName = $("#errName");
        const errPass = $("#errPass");

        let isSubmitting = false;

        form.submit(async function (event) {
            event.preventDefault();
            if (isSubmitting) {
                return;
            }

            let isValid = true;
            const nameData = name.val().trim();
            const passData = pass.val().trim();

            if (nameData === '') {
                errName.addClass("alert-validate");
                isValid = false;
            } else {
                errName.removeClass("alert-validate");
            }

            if (passData.length < 6) {
                errPass.addClass("alert-validate");
                isValid = false;
            } else {
                errPass.removeClass("alert-validate");
            }

            if (isValid) {
                isSubmitting = true;
                const formData = { name: nameData, pass: passData };
                $.ajax({
                    url: '/auth/login',
                    type: 'POST',
                    data: JSON.stringify({ name: formData.name, pass: formData.pass }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (response) {
                        form.off('submit'); // Xóa sự kiện submit trên form
                        form[0].reset();

                        window.location.href = response.redirectUrl;
                    },
                    error: function (err) {
                        if (err.responseJSON.exists) {
                            notification.text("Đăng nhập thất bại");
                        }
                        form.off('submit');
                        form[0].reset();
                    },
                    complete: function () {
                        isSubmitting = false;
                    }
                });
            }
        });
    }
</script>